body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    text-align: center;
    background-color: lightgray;
}

h1 {
    padding: 90px;
    background: #11419b;
    color: white;
    font-size: 30px;
}

#confidence {
    padding: 90px;
    background-color: #11419b;
    color: white;
    font-size: 30px;
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
}  

